.bg-blue{
    background-color: #1791EA;
}

b {
    font-weight: bold;
    
}

.containerBanner {
    background-image: url("https://images.unsplash.com/photo-1483203257148-66ee23170d09?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); 
    background-size: cover; 
    height: 530px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.row {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 00px;
    margin-top: -300px; 
    width: 400px;
    margin-left: -200px;
    text-align: center;
}